@import "../../styles/contants.scss";

.wrapper {
  background: white;
  padding: 0 50px;
  .container {
    gap: 2rem;
    @media (max-width: $sm) {
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
    }
    .left {
      font-size: 44px;
      font-weight: 600;
      flex: 3;
      > * {
        display: block;
      }
      > :nth-child(2) {
        margin-top: 3rem;

        a {
          text-decoration: underline;
          color: orange;
        }
      }
    }

    .right {
      flex: 1;
      .info {
        margin-bottom: 1rem;
        > * {
          display: block;
        }
      }
      .menu {
        @media (max-width: $sm) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        li a {
          cursor: pointer;
          text-decoration: none;
          color: $primary;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 44px;
        font-weight: 600;
      }
      .socialLinks {
        ul {
          list-style-type: none;
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          a {
            text-decoration: none;
            color: $primary;
            border: 3px solid grey;
            border-radius: 50%;
            z-index: -2;
            .icon {
              font-size: 44px;
              z-index: 22222;
            }
            li {
              color: $secondary;
              background-color: rgb(247, 245, 240);
              padding: 10px;
              border-radius: 999px;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}
